{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .create-form {
    width: 80%;
    max-width: 100%;
    min-width: 300px;
    margin: auto;
  }

  .submit-button {
    max-width: 200px;
  }

  .h3 {
    margin-top: 150px;
  }
</style>

<script>
  document.getElementById('ppage').href = "{% url 'patient:detail' patient.slug %}"
</script>

<form method="post" class="create-form">
  {% csrf_token %}
  <br>
  <h3> PATIENT N°{{patient.incl_num}}</h3>
  <hr>
  {% for field in form %}
  {% include 'patient/snippets/field2html.html' %}
  {% endfor %}
  <a type="button" href="{% url 'patient:detail' patient.slug %}" class="btn btn-secondary">Annuler</a>
  <button type="submit" class="btn btn-success"> Enregistrer</button>

</form>



{% endblock content %}