{% extends 'base.html' %}
{% load static %}


{% block content %}
<style type="text/css">
  td {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
  }

  th {
    vertical-align: middle;
    text-align: center;
  }

  .patients {
    padding: 15px;
  }
</style>

<script>
  document.getElementById('ppage').href = "{% url 'home' %}"
</script>

<br>
<div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 2fr;">
  <div class="d-flex align-items-left">
    <form class="w-100 me-3" method="get">
      <div class="form-floating">
        <input class="form-control" name="q" type="search" id="id_q" placeholder="recherche">
        <label for="id_q">Rechercher des patients</label>
      </div>
    </form>


    {% if n_patients %}
    <div class="get-patients">
      <a class="btn bs-icon bi-file-earmark-ruled" href="{% url 'personal:data' filter query %}"></a>
    </div>
    {% endif %}
    <div class="add-patient">
      <a class="btn bs-icon bi-person-badge" href="{% url 'patient:preop' %}" ></a>
    </div>

  </div>
  <br>


  {% if n_patients %}

  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

  <div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped sortable">
      <thead>
        <th>N°Utah</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Intervention</th>
        <th>Chirurgie</th>
        <th>Chirurgien</th>
        <th>Consultation</th>
      </thead>
      <tbody>
        {% for file in patients %}
        <tr data-href="{% url 'patient:detail' file.slug %}">
          <td>{{file.incl_num}}</td>
          <td>{{file.firstname}}</td>
          <td>{{file.lastname}}</td>
          <td>{{file.intervention}}</td>
          <td>{{file.chirurgie}}</td>
          <td>{{file.chirurgien}}</td>
          <td>{{file.author.alias}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'patient/snippets/patient_pagination.html' with patients=patients %}

  {% else %}
  <p>Aucun patient trouvé</p>

  {% endif %}

</div>


<script type="text/javascript">
  if ("{{query}}" == "#all#") {
    document.getElementById("id_q").value = "";
  } else {
    document.getElementById("id_q").value = "{{query}}";
  }
  $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
  });
</script>

{% endblock content %}
