{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .create-form {
    width: 80%;
    max-width: 100%;
    margin: auto;
  }

  .submit-button {
    max-width: 200px;
  }

  .h3 {
    margin-top: 150px;
  }

  .label {
    overflow: hidden;
  }
</style>

<script>
  document.getElementById('ppage').href = "{% url 'home' %}"
</script>

<form method="post" class="create-form">
  {% csrf_token %}
  <br>
  <h3> Saisie des données pré-opératoires </h3>
  <hr>
  {% for field in form %}
  {% include 'patient/snippets/field2html.html' %}
  {% endfor %}
  <br>
  <button type="submit" class="btn btn-success">Inclure</button>
</form>



{% endblock content %}
