{% include 'colors.html' %}
{% include 'fonts.html' %}

<style type="text/css">

  /* VARIABLE DEFINITIONS */
  :root {
    --primary: var(--highlight-dark);
    --secondary: #417690;
    --accent: var(--white);
    --primary-fg: #fff;

    --body-fg: var(--gray-dark);
    --body-bg: var(--white);
    --body-quiet-color: #666;
    --body-loud-color: #000;

    --header-color: var(--white);
    --header-branding-color: var(--gray);
    --header-bg: var(--gray-dark);
    --header-link-color: var(--white);

    --breadcrumbs-fg: var(--gray);
    --breadcrumbs-link-fg: var(--gray-dark);
    --breadcrumbs-bg: var(--gray-light);

    --link-fg: var(--gray);
    --link-hover-color: var(--highlight-dark);
    --link-selected-fg: var(--highlight-dark);

    --hairline-color: #e8e8e8;
    --border-color: #ccc;

    --error-fg: var(--error);

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;

    --darkened-bg: var(--gray-light); /* A bit darker than --body-bg */
    --selected-bg: var(--gray); /* E.g. selected table cells */
    --selected-row: var(--white);

    --button-fg: #fff;
    --button-bg: var(--highlight-dark);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;

    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
  }

  @media (prefers-color-scheme: darks) {
    :root {
      --primary: #264b5d;
      --primary-fg: #eee;

      --body-fg: var(--white);
      --body-bg: var(--gray-dark);
      --body-quiet-color: var(--gray-light);
      --body-loud-color: var(--white);

      --breadcrumbs-link-fg: var(--white);
      --breadcrumbs-bg: var(--gray-dark);

      --link-fg: #81d4fa;
      --link-hover-color: #4ac1f7;
      --link-selected-fg: #6f94c6;

      --hairline-color: #272727;
      --border-color: #353535;

      --error-fg: #e35f5f;
      --message-success-bg: #006b1b;
      --message-warning-bg: #583305;
      --message-error-bg: #570808;

      --darkened-bg: #212121;
      --selected-bg: #1b1b1b;
      --selected-row: #00363a;

      --close-button-bg: #333333;
      --close-button-hover-bg: #666666;
    }
  }

  #header {
    height: 60px;
  }

</style>
