{% include 'colors.html' %}
{% include 'fonts.html' %}


<style type="text/css">

    body {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      background-color: var(--page-bg);
      color: var(--page-txt);
    }

    header {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: var(--head-bg);
      color: var(--head-txt2);
      box-shadow: 0px 5px 5px var(--shadow-color);
  }


    footer {
      flex-grow:0;
      height: 50px;
      background-color: var(--foot-bg);
      color: var(--foot-txt);
    }


    #central-page {
      flex-grow:1;
      display: flex;
      align-items: stretch;
      width: 100%;
      overflow-y: hidden;
    }

    #main {
        padding: 5%;
        width: 100%;
        overflow: hidden;
        color: var(--page-txt);

    }

    .sticker {
        background-color: var(--sticker-bg);
        color: var(--sticker-txt);
        padding: 40px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px var(--shadow-color);
        overflow-x: auto;
    }

    .post {
        color: var(--page-txt);
        padding: 20px;
        overflow-x: auto;
    }

    .post:hover {
        color: var(--page-txt);
        padding: 18px;
        box-shadow: 3px 3px 5px var(--shadow-color);
    }

    .sidebar {
      font-family: Comfortaa;
      background-color: var(--sidebar-bg2);
      box-shadow: 0px 5px 5px var(--shadow-color) inset, 5px 0px 5px var(--shadow-color);
    }
    .sidebar.open {
      background-color: var(--sidebar-bg1);
    }

    .transform {
      --speed: 0s;
      -webkit-transition: all var(--speed) ease-in-out;
      -moz-transition: all var(--speed) ease-in-out;
      -o-transition: all var(--speed) ease-in-out;
      -ms-transition: all var(--speed) ease-in-out;
      transition: all var(--speed) ease-in-out;
    }

    .cropper-circle .cr-viewport {
        border-radius: 50%;
    }

    .bs-icon {
      padding: 10px;
      color: var(--highlight-dark);
      font-size: 32px;
      float: right
    }
    .bs-icon:hover {
      color: var(--highlight-light);
      cursor: pointer;
    }
    .catalogue-title {
      font-size: 25px;
      width: 100%;
    }
</style>
