<style type="text/css">
  :root {
    --white: rgba(248, 249, 250, 1);
    --gray-light: rgba(225, 224, 225, 1);
    --gray: rgba(150, 150, 150, 1);
    --gray-dark: rgba(49, 55, 58, 1);
    --black-light: rgba(34, 39, 47, 1);
    --black: rgba(29, 35, 38, 1);

    --highlight-light: rgba(220, 53, 69, 1);
    --highlight-dark: rgba(0, 123, 255, 1);
    --error: rgba(255, 0, 0, 1);
    --shadow: rgba(0, 0, 0, 0.2);


    --page-bg: var(--gray-light);
    --page-txt: var(--gray-dark);

    --head-bg: var(--gray-dark);
    --head-txt1: var(--white);
    --head-txt2: var(--gray);

    --foot-bg: var(--white);
    --foot-txt: var(--gray);

    --sidebar-bg1: var(--highlight-light);
    --sidebar-bg2: var(--highlight-dark);
    --sidebar-txt: var(--white);

    --sticker-bg: var(--white);
    --sticker-txt: var(--gray-dark);

    --table-bg-head: var(--gray-dark);
    --table-bg-body1: var(--white);
    --table-bg-body2: var(--gray-light);
    --table-txt-head: var(--white);
    --table-txt-body: var(--gray-dark);

    --form-error: var(--error);
    --bs-success: var(--highlight-dark);

    --shadow-color: var(--shadow);
  }
</style>