<style type="text/css">
  #header-links {
    display: flex;
  }

  @media screen and (max-width: 600px) {
    #header-links {
      visibility: hidden;
      display: none;
    }
  }
  @media screen and (min-width: 600px) {
    #collapsable-header-links {
      visibility: hidden;
      display: none;
    }
  }
</style>

<div id="header-links">
  {% include menu %}
</div>

<div id="collapsable-header-links">
  <button class="btn btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu">
    {% include menu %}
  </div>
</div>
