

<div class="embed-responsive embed-responsive">
  <iframe id="readme-typing-embed" class="embed-responsive-item" allowfullscreen></iframe>
</div>

<script type="text/javascript">
  const color = getComputedStyle(document.documentElement).getPropertyValue('--bs-danger').replace('#', '');
  const text = "{{text | safe}}";
  let url = "https://readme-typing-svg.herokuapp.com?color="+color+"&center=true&vCenter=true&size=40&lines=" +
              text.replace(/ /gi, "+")
  document.getElementById('readme-typing-embed').setAttribute('src', "https://readme-typing-svg.herokuapp.com/?lines=Biomedical%20Engineer;IA%20and%20Machine%20learning%20Engineer;Self-taught%20full-stack%20developer;8%20years%20of%20coding%20experience;Python%20lover;Always%20learning%20new%20things&font=Fira%20Code&center=true&width=440&height=45&color=f75c7e&vCenter=true&size=22");
 </script>
