
<style type="text/css">

    .sidebar {
      height: 100%;
      width: 10px;
    }
    .sidebar.open {
        width: 100%;
    }
    .sb-menu-content {
        opacity: 0;
    }
    .sb-menu-content.open {
        opacity: 1;
    }
    .sidebar-button {
        border: none;
        background: none;
        padding: 10px;
        padding-left: 20px;
        right: -50%;
        position: relative;
    }
    .sidebar-button.open {
        right: -100%;
        transform: translateX(-100%);
    }


  .animated-icon {
      width: 30px;
      height: 20px;
      position: relative;
      margin: 0px;
      cursor: pointer;
  }

  .animated-icon span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
  }

  .animated-icon span {
    background: var(--page-txt);
  }

  .animated-icon span:nth-child(1) {
      top: 0px;
  }

  .animated-icon span:nth-child(2) {
      top: 10px;
  }

  .animated-icon span:nth-child(3) {
      top: 20px;
  }

    .animated-icon.open span {
      background: var(--sidebar-txt);
    }

  .animated-icon.open span:nth-child(1) {
      top: 11px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
  }

  .animated-icon.open span:nth-child(2) {
        opacity: 0;
  }

  .animated-icon.open span:nth-child(3) {
      top: 11px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
  }

  #sb-btn {
    margin: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
    display: flex;
    color: var(--sidebar-txt);
  }

  .btn-block:hover,
  .btn-block:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .sidebar-divider {
    color: var(--sidebar-txt);
    opacity: 0.5;
    margin: 10%;
  }
</style>


<div>
  <div id="sidebar" class="sidebar transform open">
      <button class="sidebar-button transform open" >
        <div class="animated-icon transform open"><span class="transform "></span><span class="transform"></span><span class="transform"></span></div>
      </button>
      <div class="sb-menu-content transform-speed open">
        <div id="sb-tree", class="sidebar-tree" >
          {% include menu %}
        </div>
      </div>
  </div>
</div>



<script type="text/javascript">
    let bool = getCookie("sidebarOpen") == "true";
    $('.sidebar').toggleClass('open', bool);
    $('.sb-menu-content').toggleClass('open', bool);
    $('.animated-icon').toggleClass('open', bool);
    $('.sidebar-button').toggleClass('open', bool);

  $(document).ready(function () {
    $('.sidebar-button').on('click', function () {
    $('.sidebar').toggleClass('open'); // translate
    $('.sb-menu-content').toggleClass('open'); // disapear
    $('.animated-icon').toggleClass('open'); // animate
    $('.sidebar-button').toggleClass('open'); // translate

    setCookie("sidebarOpen", document.getElementById("sidebar").className.includes('open'));
    });
  });

  const delta_fs = 1.5;
  const delta_pl = 20;

  {% if sidebar_menu %}
    const sidebar_menu = {{sidebar_menu | safe}};
    build_tree(sidebar_menu, document.getElementById('sb-tree'), fs=17, pl=10);
  {% endif %}


  function build_tree(tree, parent, fs, pl) {
    for (const [branch, subtree] of Object.entries(tree)) {
      if (fs < 11) { fs = 11;}
      // create button
      const btn = document.createElement("a");
      btn.innerHTML = branch;
      btn.className = "btn text-left btn-block";
      btn.id = "sb-btn";
      btn.style.fontSize = fs.toString() + 'px;'
      btn.style.paddingLeft = pl.toString() + 'px;'
      btn.setAttribute("style", 'font-size:'+fs.toString()+'px;padding-left:'+pl.toString()+'px;');

      // link to url
      if (typeof subtree === 'string') {
        btn.href =  subtree;
        parent.appendChild(btn);
      }
      else {
        // link to collapsable sub div
        let _branch = branch.replace(/ /gi, "_");
        btn.setAttribute("data-toggle", "collapse");

        btn.href = "#" + _branch
        parent.appendChild(btn);

        // create sub div and apply recurrence
        const div = document.createElement("div");
        div.id = _branch
        div.className = "collapse";
        parent.appendChild(div);
        build_tree(subtree, div, fs-delta_fs, pl+delta_pl);
      }
    }
  }

</script>
