{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  .inputsubmit {
  	width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
  }
</style>

<div class="container">
  {% if request.user.is_authenticated %}
    {% include 'widgets/file_download.html' with input_id='catalogue' %}
    <form id="form_delete_catalogue" method="post" >
      {% csrf_token %}
      <input id="delete_catalogue" name="delete_catalogue" type="submit" class="inputsubmit" value="delete all"
            onclick="return confirm('Etes vous sûr de vouloir supprimer tous les documents du catalogue ?');">
    </form>
  {% endif %}

  <h2 class='title'>Catalogue raisonné
    {% if request.user.is_authenticated %}
      <label class='bs-icon bi bi-x-square' for="delete_catalogue"></label>
      <label class='bs-icon bi bi-images' for="catalogue"></label>
      <a class="bs-icon bi bi-image" href="{% url 'catalogue:create' %}"></a>
    {% endif %}
  </h2>

  {% if all_search_results %}

    {% for object in all_search_results %}
      <a class="btn post mb-1" style="width:100%;" href="{% url 'catalogue:detail' object.slug %}">
        <p class="catalogue-title" >{{object.titre}}</p>
        <div>{{object.description}}</div>
        <div><img style="object-fit: cover; width:100%;" src="{{object.image.url}}"></div>
      </a>
      <br>
    {% endfor %}

    {% include 'widgets/pagination.html' with page_obj=page_obj url='/catalogue/list' %}

  {% else %}
    Aucun document trouvé.

  {% endif %}


</div>


{% endblock content %}
