{% extends 'base.html' %}


{% block content %}

<div class="container">
  <h2 class="title">Document
    <a class="bs-icon bi bi-caret-left" href="{% url 'catalogue:list' %}"></a>
  </h2>

  <div class="sticker">
    <form method="POST" action="{% url 'catalogue:delete' object.slug %}">
      {% csrf_token %}

      <p class="catalogue-title">{{object.titre}}</p>
      <div>{{object.description}}</div>
      <a href="{% url 'catalogue:image' object.slug %}">
        <img style="object-fit: cover; width:100%;" src="{{object.image.url}}">
      </a>
      <div>Par @{{object.author}}, le {{object.date_published}}</div>

      {% if object.author == request.user %}
        <a href="{% url 'catalogue:edit' object.slug %}" class="btn btn-primary">Modifier</a>
        <input type="submit" class="btn btn-danger" onclick="return confirm('Etes vous sûr de vouloir supprimer ce document ?');" value="Supprimer">
      {% endif %}
    </form>
  </div>
</div>



{% endblock content %}
