{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  #centered-buttons {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    left: 25%;
    right: 25%;
  }

  .main-btn {
    font-size: 100%;
    width: 50%;
    max-width: 300px;
  }
</style>

<div class="container">
  <div id='centered-buttons'>
    <a type="button" href="{% url 'patient:preop' %}" class="btn bs-icon bi-person-badge">
      <p> Inclure un nouveau patient</p>
    </a>
    <br><br>
    <a type="button" href="{% url 'patient:preop' %}" class="btn bs-icon bi-search">
      <p> Retrouver un patient déjà inclus</p>
    </a>
  </div>

</div>

{% endblock content %}
