{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1 class='title'>Mon compte</h1>

  <form class="sticker" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'widgets/form.html' %}
    <button class='btn btn-primary' type="submit">Modifier</button>
  </form>
  <form method="post" action="{% url 'account:delete' object.id %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-danger" onclick="return confirm('Etes vous sûr de vouloir supprimer ce compte ?');" value="Supprimer mon compte">
  </form>



  {% if success_message %}
  <p>{{success_message}}</p>

  {% endif  %}
</div>


{% endblock content %}