{% extends 'base.html' %}


{% block content %}

<div class="container">
  <h2 class='title'>Posts
    <a class="btn btn-primary" style="float: right" href="{% url 'blog:create' %}">+</a> <br>
  </h2>


  {% if object_list %}
    {% for object in object_list %}
      <div class="sticker">
        <a href="{% url 'blog:detail' object.slug %}" class="btn">{{object.title}}</a>
        <div>{{object.body}}</div>

      </div>
      <br>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blog/list?page={{ page_obj.previous_page_number }}">précédent</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/blog/list?page={{ page_obj.next_page_number }}">suivant</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

  {% else %}
    Aucun post.
  {% endif %}
</div>

{% endblock content %}
